/**---------------FONTS-----------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");  
/** font-family: 'Roboto Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Roboto:wght@300&display=swap');
/** font-family: 'Croissant One'; */
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Gloria+Hallelujah&family=Roboto:wght@300&display=swap');
/** font-family: 'Gloria Hallelujah', cursive; */

/**---------------GLOBAL-----------------------------------------------------------------------------------*/
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

/**----------------NAVEGACION---------------------**/
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
}
.span-titulo{
    color:rgb(22, 129, 251)
}
hr{
    border: 0.1rem solid rgb(206, 204, 204);
}
.navegacion{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 1.5rem 0;
    font-size: 3rem;
}
.navegacion a{
    text-decoration: none;
    color: black;
}

/**-----------------FOOTER--------------------**/
.hr-foot{
    margin-top: 6rem;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer1 p{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem;
    color: rgba(0, 0, 0, 0.600);
}
.div-foot1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
}
.div-foot1 nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.div-foot1 nav h2{
    font-size: 2.5rem;
    font-weight: bolder;
}    
.div-foot1 nav a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}