@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap");  


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.span-titulo{
    color:rgb(22, 129, 251)
}

body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}